
<div class="jumbotron">
    <h1 class="display-4"><%= t('welcome') %></h1>
    <p class="lead"><%= t('welcome_message')%></p>
    <hr class="my-4">
    <p>O idioma usado nessa aplicacao é: <strong><%= t("actual_locale") %></p></strong>
    <p><strong> <%= t('_today') %> </strong> <%= l(Date.today) %> </p>
    
    <p><%= t('start_message') %></p>

    <%= render "menu"%>
</div>
</div>




