<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav justify-content-end">
    
    <li class="nav-item">
        <%=link_to ' Português ', root_path(locale:'pt-BR'), class:"nav_link"%>
    </li>
    <li class="nav-item">
        <%=link_to ' English ', root_path(locale:'en'), class:"nav_link"%>
    </li>
    <li class="nav-item">
        <%=link_to ' Home ', root_path("http://localhost:3000/welcome/index"), class:"nav_link"%>
    </li>

</ul>
    <%= yield %>
    
  </body>
</html>

